<div class="container">
  <p> Les articles </p>
  <ol>
    <% @posts.each do |post| %>
      <li> <%= post.title %> // 
      <%= post.user.username %> // 
      <%= link_to "edit", edit_post_path(post.id), class:"btn btn-warning" %> </li>
    <% end %>
  </ol>
</div>
